/* Set up the body */
* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;

  --main-gray-color: rgba(200, 200, 200, 0.8);
}

body {
  background-color: #f9f9f9;
}

.container {
  width: 50%;
  margin: 80px auto;
  background-color: #fff;
  box-shadow: 0 2px 6px 2px var(--main-gray-color);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #454545;
}

/* Set up the header */
.list-title,
.add-task,
li {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--main-gray-color);
}

.las.la-share {
  transform: rotate(180deg);
}

.las.la-sync {
  transform: rotate(90deg);
}

.las.la-sync,
.las.la-ellipsis-v,
.las.la-trash-alt,
#add {
  color: #727272;
  border: none;
  background-color: transparent;
}

.las.la-trash-alt {
  display: none;
}

.las.la-ellipsis-v.hide {
  display: none;
}

.las.la-trash-alt.active {
  display: block;
}

.las.la-sync:hover,
.las.la-share:hover,
.las.la-ellipsis-v:hover,
.las.la-trash-alt:hover {
  color: #000;
  cursor: pointer;
  scale: 1.1;
}

.add-task {
  color: #727272;
}

form {
  width: 100%;
  display: flex;
}

#new-task {
  width: 100%;
  border: none;
  outline: none;
}

li {
  justify-content: flex-start;
  gap: 24px;
  list-style: none;
}

li.editing {
  background-color: #ffffd0;
}

.checkbox:hover {
  cursor: pointer;
}

.task-description {
  flex: 100%;
  background-color: transparent;
  border: none;
  outline: none;
}

.task-description.completed {
  font-weight: bold;
  color: #ff0400;
  text-decoration: line-through;
}

#btn {
  padding: 16px;
  width: 100%;
  color: #727272;
  border: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

#btn:hover {
  color: #000;
  text-decoration: underline;
  cursor: pointer;
}
